<section class="ticket-container">
  <div class="container-ticket">
    <table class="table-ticket">
      <thead>
        <tr>
          <th>Id Producto</th>
          <th>Descripcion</th>
          <th class="centered">P.Unitario</th>
          <th class="centered">Cantidad</th>
          <th class="centered">Subtotal</th>
        </tr>
      </thead>
      <tbody id="tbody-ticket">

      </tbody>
      <tfoot id="tfoot-ticket">
        <tr>
      <td class="btn-finish-cart" colspan="5">
        <button id="finishCart">Finalizar Compra</button>
      </td>
    </tr>
      </tfoot>
    </table>
    <p>Su compra tendrá la cantidad elegida o el máximo de unidades disponibles
      en caso que la misma supere el stock</p>
  </div>
</section>

<script src="/js/buycart.js"></script>