<section class="card-user-container">
    <div class="card-user">
        <h3>Escriba su nueva contraseña</h3>
        <input class="formulario-changepsw" type="text" id="pswOne" placeholder="nueva contraseña" name="pswOne">
        <input class="formulario-changepsw" type="text" id="pswTwo" placeholder="repita nueva contraseña" name="pswTwo">
        <button id="psw-reset">Reset</button>
    </div>
</section>
<script>
    var token = "{{token}}";
</script>
<script src="../js/validatepsw.js">
</script>