<section id="chat">

<div id="title">Deja tu mensaje</div>
<div id="history">

</div>
<div class="input-container">
    <input type="text" id="msj" placeholder="Escribi tu mensaje"/>
</div>

</section>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/main.js"></script>