<section class="card-user-container">
    <div class="card-user">
    <h2>Token inválido o expirado</h2>
    <h5>Deberá generar un nuevo link para poder resetear la contraseña</h5>
    <p>Haga click aquí para enviar un nuevo mail para reseteo:</p>
    <button id="psw-reset">Reset Password</button>
    </div>
</section>
<script src="../js/pswrst.js"></script>