<section class="login">
  <div class="container-login register">
    <h3>REGISTRO</h3>
    <form class="formulario-login" action="api/users" method="post">
      <input type="text" placeholder="nombre" name="first_name" id="first_name"/>
      <input type="text" placeholder="apellido" name="last_name" id="last_name"/>
      <input type="email" placeholder="email" name="email" id="email"/>
      <input type="number" placeholder="edad" name="age" id="age"/>
      <input type="password" placeholder="password" name="password" id="password"/>
      <button onclick="register()">registrarse</button>
      {{#if mensaje}}
      <div class="alert alert-danger rojo" role="alert">
        Mail ya registrado
      </div>
      {{/if}}
    </form>
  </div>
</section>
<script src="js/register.js"></script>