<section class="userspanel-container">
    <div class="btn-inactivos">
        <button id="inactivos">Borrar inactivos</button>
    </div>
        <table class="userspanel-table">
            <thead>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
</section>

<script src="js/userspanel.js"></script>