*{
    list-style: none;
}

ul{
   padding-inline-start: 0;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 300px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    margin: 10px;
    border-radius: 5px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.description{
    font-size: 18px;
    font-style: italic;
}
.price{    
    font-weight: bold;
}
.stock{
    font-size: 14px;
}
.code{
    font-size: 12px;
}
#chat{
    margin:0;
    padding:0
}

#title{
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

#history{
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    height:90vh;
}
.input-container{
    display: inline;
}
#msj{
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: 8;
    margin-bottom: 2px;
    margin-top: 5px;
    width: 99%;
}