*{
    list-style: none;
}
body{
     background: linear-gradient(135deg, rgb(43, 158, 178), rgb(2, 20, 25));
}
form{
    margin-block-end:0
}
.login{
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center
}
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(0, 44, 58);
}
.rojo{
    background-color: #ae4b55 !important;
}
.profile-container{
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50vh;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(0, 44, 58);
}
.profile-info{
    margin-top: 10px;
    color: rgb(0, 44, 58);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile-img{
    max-height: 150px;
    border-radius: 50%;
}
.small-icon{
    max-height: 40px;

}
.register{
    height: 70vh;
}
.container-login a, .container-login p{
    margin: 1px;
    color: #fafafa;
}
.btn-github{
    width: 205px;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0px;
    border: 0px solid;
    color: #fafafa;
    background-color: #111111;
}
.formulario-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-login input{
    padding-left: 10px;
    margin: 10px 0px;
    height: 40px;
    border-radius: 8px;
    border: 0px solid;
}
.formulario-login button{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0px;
    border: 0px solid;
    color: #fafafa;
    background: linear-gradient(to bottom, #c31432, #240b36);
}


.logo-nav{
    height: 80px;
    padding: 10px;
}
.nav-item{
    color: orange !important;
    display: flex;
    align-items: center;
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1f23;
}

ul{
   padding-inline-start: 0;
}
li{
    margin: 5px;
}
td{
    vertical-align: middle !important;
}
.cards-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.cont-filtros{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 20px 10px 10px 10px;

}
.active .page-link{
    background-color: #03B4A3 !important;
}

.filtros{
    width: 80vw;
}
.filtros ul{
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    text-align: center;
}
.fa-arrows-rotate{
    margin-left: 5px;
    color: green;
    cursor: pointer;
}
.fa-rectangle-xmark{
    color: red;
    cursor: pointer;
}
.idProduct{
    font-size: 12px;
}
.delField{
    text-align: center;
}
.head-carrito{
    display: flex;
    justify-content: space-between;
}
.del-carrito{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #ffa23e;
}
.del-carrito p{
    margin: 0;
    margin-left: 5px;
}
.input-cart{
    width: 50px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    background-color: transparent;
    text-align: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #003972;
}
.description{
    font-size: 18px;
    font-style: italic;
}
.price{
    font-size: 22px;    
    font-weight: bold;
}
.stock{
    font-size: 14px;
}
.code{
    font-size: 12px;
}
.id{
    visibility: hidden;
}
#chat{
    margin:0;
    padding:0
}

#title{
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

#history{
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    height:90vh;
}
.input-container{
    display: inline;
}
#msj{
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: 8;
    margin-bottom: 2px;
    margin-top: 5px;
    width: 99%;
}
.btn{
    cursor: pointer;
    height: 40px;
    width: 90px;
    background: linear-gradient(to top, #347c68, #99f2c8);
    border: none;
    border-radius: 8px;
    color: #fafafa;
    animation: 200ms ease-in-out;
}

.btn:hover{
    background: linear-gradient(to top, #47b092, #c6ffe4);
    /* border: 1px solid #2c6857; */
    box-shadow: 2px 2px 4px rgb(159, 159, 159);
}

.btn:active{
    background: linear-gradient(to bottom, #347c68, #99f2c8)
}